body{
  padding: 25px;
}
.title {
  font-family: "Yuji Mai", serif;
	color: pink;
	text-align: center;
}
 .peppa-image {
   display: block;
   margin-left: auto;
   margin-right: auto,;
   width: 50%;
 }
 .paragraph {
   text-align: center;
   color: pink;
   font-size: 20px;
 }